* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #191923;
    font-family: "Arial", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 15px;
    color: #fff;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: white;
    border-radius: 1rem;
    font-weight: bold;
  }
  
  input {
    border: none;
  }