
<section class="todo-list-wrapper">
    <form (ngSubmit)="saveTodo()">
       <h1 class="title">TODO APP</h1>
       <div class="new-todo">
          <input
          type="text"
          placeholder="Ingrese una nueva tarea"
          [(ngModel)]="newTodoTitle"
          name="title"
          />
          <button type="submit"><span>+</span></button>
       </div>
    </form>

    <div class="filters">
       <button (click)="filterTodos('all')">Todos</button>
       <button (click)="filterTodos('active')">Activos</button>
       <button (click)="filterTodos('completed')">Completados</button>
    </div>

    <div class="extra-actions">
       <!-- Botón para marcar todas las tareas como completadas o no completadas -->
       <button (click)="toggleAllTodos()">Marcar todos</button>
       <!-- Botón para eliminar todas las tareas completadas -->
       <button (click)="clearCompletedTodos()">Limpiar todos</button>
    </div>

    <div class="todo-count">
       <!-- Muestra el conteo total de tareas -->
       <p>Total: {{ todos.length }}</p>
       <!-- Muestra el conteo de tareas completadas -->
       <p>Completados: {{ completedCount }}</p>
    </div>

    <ul class="todo-list">
       @for (todo of filteredTodos; track todo) {
       <li>
          @if (todo.isEditing) {
          <div class="todo-editing">
          <input
             type="text"
             class="edit-task"
             placeholder="Edit Task"
             [(ngModel)]="todo.title"
          />
          <button (click)="toggleEditTodo(todo.id, true)">
             <i class="fa-solid fa-floppy-disk"></i>
          </button>
          </div>
          } @if (!todo.isEditing) {
          <div class="todo">
          <div class="todo__left">
             <input
                type="checkbox"
                [checked]="todo.completed"
                (change)="toggleTodoCompletion(todo.id)"
             />
             <label>{{ todo.title }}</label>
          </div>
          <div class="todo__right">
             <button class="edit" (click)="toggleEditTodo(todo.id, false)">
                <i class="fa-solid fa-pen-to-square"></i>
             </button>
             <button class="delete" (click)="deleteTodo(todo.id)">
                <i class="fa-solid fa-trash"></i>
             </button>
          </div>
          </div>
          }
       </li>
       }
    </ul>
 </section>
